The dataset was sourced form: https://www.kaggle.com/datasets/yasserh/housing-prices-dataset

Python Packages for analyzing and cleaning data:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

## Data Inspection

Importing the dataset:

In [12]:
df = pd.read_csv("../../backend/data/housing-dataset.csv")
df.head(50)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished
20,8750000,4320,3,1,2,yes,no,yes,yes,no,2,no,semi-furnished
21,8680000,7155,3,2,1,yes,yes,yes,no,yes,2,no,unfurnished
22,8645000,8050,3,1,1,yes,yes,yes,no,yes,1,no,furnished
23,8645000,4560,3,2,2,yes,yes,yes,no,yes,1,no,furnished
24,8575000,8800,3,2,2,yes,no,no,no,yes,2,no,furnished
25,8540000,6540,4,2,2,yes,yes,yes,no,yes,2,yes,furnished
26,8463000,6000,3,2,4,yes,yes,yes,no,yes,0,yes,semi-furnished
27,8400000,8875,3,1,1,yes,no,no,no,no,1,no,semi-furnished
28,8400000,7950,5,2,2,yes,no,yes,yes,no,2,no,unfurnished
29,8400000,5500,4,2,2,yes,no,yes,no,yes,1,yes,semi-furnished
30,8400000,7475,3,2,4,yes,no,no,no,yes,2,no,unfurnished
31,8400000,7000,3,1,4,yes,no,no,no,yes,2,no,semi-furnished
32,8295000,4880,4,2,2,yes,no,no,no,yes,1,yes,furnished
33,8190000,5960,3,3,2,yes,yes,yes,no,no,1,no,unfurnished
34,8120000,6840,5,1,2,yes,yes,yes,no,yes,1,no,furnished
35,8080940,7000,3,2,4,yes,no,no,no,yes,2,no,furnished
36,8043000,7482,3,2,3,yes,no,no,yes,no,1,yes,furnished
37,7980000,9000,4,2,4,yes,no,no,no,yes,2,no,furnished
38,7962500,6000,3,1,4,yes,yes,no,no,yes,2,no,unfurnished
39,7910000,6000,4,2,4,yes,no,no,no,yes,1,no,semi-furnished
40,7875000,6550,3,1,2,yes,no,yes,no,yes,0,yes,furnished
41,7840000,6360,3,2,4,yes,no,no,no,yes,0,yes,furnished
42,7700000,6480,3,2,4,yes,no,no,no,yes,2,no,unfurnished
43,7700000,6000,4,2,4,yes,no,no,no,no,2,no,semi-furnished
44,7560000,6000,4,2,4,yes,no,no,no,yes,1,no,furnished
45,7560000,6000,3,2,3,yes,no,no,no,yes,0,no,semi-furnished
46,7525000,6000,3,2,4,yes,no,no,no,yes,1,no,furnished
47,7490000,6600,3,1,4,yes,no,no,no,yes,3,yes,furnished
48,7455000,4300,3,2,2,yes,no,yes,no,no,1,no,unfurnished
49,7420000,7440,3,2,1,yes,yes,yes,no,yes,0,yes,semi-furnished

In [14]:
df.shape

(545, 13)

In [15]:
df.info

<bound method DataFrame.info of         price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]>

In [16]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [27]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

## Data Cleaning

Changing Yes/No Boolean values to Numerical

In [31]:
boolean_columns = ["mainroad", "guestroom", "basement", "hotwaterheating", "airconditioning"]
df[boolean_columns] = df[boolean_columns].replace({"yes" : 1, "no" : 0})

In [32]:
df.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,yes,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,no,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,yes,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,yes,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,no,furnished

Checking for null values:

In [35]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

## Further Preprocessing

Feature Scaling

In [37]:
df.to_csv('../../backend/data/housing-dataset.csv', index=False)

In [38]:
df.head(50)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,yes,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,no,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,yes,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,yes,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,no,furnished
5,10850000,7500,3,3,1,1,0,1,0,1,2,yes,semi-furnished
6,10150000,8580,4,3,4,1,0,0,0,1,2,yes,semi-furnished
7,10150000,16200,5,3,2,1,0,0,0,0,0,no,unfurnished
8,9870000,8100,4,1,2,1,1,1,0,1,2,yes,furnished
9,9800000,5750,3,2,4,1,1,0,0,1,1,yes,unfurnished
10,9800000,13200,3,1,2,1,0,1,0,1,2,yes,furnished
11,9681000,6000,4,3,2,1,1,1,1,0,2,no,semi-furnished
12,9310000,6550,4,2,2,1,0,0,0,1,1,yes,semi-furnished
13,9240000,3500,4,2,2,1,0,0,1,0,2,no,furnished
14,9240000,7800,3,2,2,1,0,0,0,0,0,yes,semi-furnished
15,9100000,6000,4,1,2,1,0,1,0,0,2,no,semi-furnished
16,9100000,6600,4,2,2,1,1,1,0,1,1,yes,unfurnished
17,8960000,8500,3,2,4,1,0,0,0,1,2,no,furnished
18,8890000,4600,3,2,2,1,1,0,0,1,2,no,furnished
19,8855000,6420,3,2,2,1,0,0,0,1,1,yes,semi-furnished
20,8750000,4320,3,1,2,1,0,1,1,0,2,no,semi-furnished
21,8680000,7155,3,2,1,1,1,1,0,1,2,no,unfurnished
22,8645000,8050,3,1,1,1,1,1,0,1,1,no,furnished
23,8645000,4560,3,2,2,1,1,1,0,1,1,no,furnished
24,8575000,8800,3,2,2,1,0,0,0,1,2,no,furnished
25,8540000,6540,4,2,2,1,1,1,0,1,2,yes,furnished
26,8463000,6000,3,2,4,1,1,1,0,1,0,yes,semi-furnished
27,8400000,8875,3,1,1,1,0,0,0,0,1,no,semi-furnished
28,8400000,7950,5,2,2,1,0,1,1,0,2,no,unfurnished
29,8400000,5500,4,2,2,1,0,1,0,1,1,yes,semi-furnished
30,8400000,7475,3,2,4,1,0,0,0,1,2,no,unfurnished
31,8400000,7000,3,1,4,1,0,0,0,1,2,no,semi-furnished
32,8295000,4880,4,2,2,1,0,0,0,1,1,yes,furnished
33,8190000,5960,3,3,2,1,1,1,0,0,1,no,unfurnished
34,8120000,6840,5,1,2,1,1,1,0,1,1,no,furnished
35,8080940,7000,3,2,4,1,0,0,0,1,2,no,furnished
36,8043000,7482,3,2,3,1,0,0,1,0,1,yes,furnished
37,7980000,9000,4,2,4,1,0,0,0,1,2,no,furnished
38,7962500,6000,3,1,4,1,1,0,0,1,2,no,unfurnished
39,7910000,6000,4,2,4,1,0,0,0,1,1,no,semi-furnished
40,7875000,6550,3,1,2,1,0,1,0,1,0,yes,furnished
41,7840000,6360,3,2,4,1,0,0,0,1,0,yes,furnished
42,7700000,6480,3,2,4,1,0,0,0,1,2,no,unfurnished
43,7700000,6000,4,2,4,1,0,0,0,0,2,no,semi-furnished
44,7560000,6000,4,2,4,1,0,0,0,1,1,no,furnished
45,7560000,6000,3,2,3,1,0,0,0,1,0,no,semi-furnished
46,7525000,6000,3,2,4,1,0,0,0,1,1,no,furnished
47,7490000,6600,3,1,4,1,0,0,0,1,3,yes,furnished
48,7455000,4300,3,2,2,1,0,1,0,0,1,no,unfurnished
49,7420000,7440,3,2,1,1,1,1,0,1,0,yes,semi-furnished

In [ ]:
scaled_columns = 
scaler = StandardScaler()
df[scaled_columns] = scaler.fit_transform(df[scaled_columns])