The dataset was sourced from: https://www.kaggle.com/datasets/yasserh/housing-prices-dataset

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

## Data Inspection

In [7]:
df = pd.read_csv("/Users/kehindeslaptop/Code/projects/home-price-prediction/backend/data/housing-dataset.csv")
df.head(50)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,total_rooms,area_per_room,amenity_count
0,9310000,6550,4,2,2,1,0,0,0,1,1,1,1,6,1091.666667,2
1,9240000,3500,4,2,2,1,0,0,1,0,2,0,2,6,583.333333,2
2,9240000,7800,3,2,2,1,0,0,0,0,0,1,1,5,1560.000000,1
3,9100000,6000,4,1,2,1,0,1,0,0,2,0,1,5,1200.000000,2
4,9100000,6600,4,2,2,1,1,1,0,1,1,1,0,6,1100.000000,4
5,8960000,8500,3,2,4,1,0,0,0,1,2,0,2,5,1700.000000,2
6,8890000,4600,3,2,2,1,1,0,0,1,2,0,2,5,920.000000,3
7,8855000,6420,3,2,2,1,0,0,0,1,1,1,1,5,1284.000000,2
8,8750000,4320,3,1,2,1,0,1,1,0,2,0,1,4,1080.000000,3
9,8680000,7155,3,2,1,1,1,1,0,1,2,0,0,5,1431.000000,4
10,8645000,8050,3,1,1,1,1,1,0,1,1,0,2,4,2012.500000,4
11,8645000,4560,3,2,2,1,1,1,0,1,1,0,2,5,912.000000,4
12,8575000,8800,3,2,2,1,0,0,0,1,2,0,2,5,1760.000000,2
13,8540000,6540,4,2,2,1,1,1,0,1,2,1,2,6,1090.000000,4
14,8463000,6000,3,2,4,1,1,1,0,1,0,1,1,5,1200.000000,4
15,8400000,8875,3,1,1,1,0,0,0,0,1,0,1,4,2218.750000,1
16,8400000,7950,5,2,2,1,0,1,1,0,2,0,0,7,1135.714286,3
17,8400000,5500,4,2,2,1,0,1,0,1,1,1,1,6,916.666667,3
18,8400000,7475,3,2,4,1,0,0,0,1,2,0,0,5,1495.000000,2
19,8400000,7000,3,1,4,1,0,0,0,1,2,0,1,4,1750.000000,2
20,8295000,4880,4,2,2,1,0,0,0,1,1,1,2,6,813.333333,2
21,8190000,5960,3,3,2,1,1,1,0,0,1,0,0,6,993.333333,3
22,8120000,6840,5,1,2,1,1,1,0,1,1,0,2,6,1140.000000,4
23,8080940,7000,3,2,4,1,0,0,0,1,2,0,2,5,1400.000000,2
24,8043000,7482,3,2,3,1,0,0,1,0,1,1,2,5,1496.400000,2
25,7980000,9000,4,2,4,1,0,0,0,1,2,0,2,6,1500.000000,2
26,7962500,6000,3,1,4,1,1,0,0,1,2,0,0,4,1500.000000,3
27,7910000,6000,4,2,4,1,0,0,0,1,1,0,1,6,1000.000000,2
28,7875000,6550,3,1,2,1,0,1,0,1,0,1,2,4,1637.500000,3
29,7840000,6360,3,2,4,1,0,0,0,1,0,1,2,5,1272.000000,2
30,7700000,6480,3,2,4,1,0,0,0,1,2,0,0,5,1296.000000,2
31,7700000,6000,4,2,4,1,0,0,0,0,2,0,1,6,1000.000000,1
32,7560000,6000,4,2,4,1,0,0,0,1,1,0,2,6,1000.000000,2
33,7560000,6000,3,2,3,1,0,0,0,1,0,0,1,5,1200.000000,2
34,7525000,6000,3,2,4,1,0,0,0,1,1,0,2,5,1200.000000,2
35,7490000,6600,3,1,4,1,0,0,0,1,3,1,2,4,1650.000000,2
36,7455000,4300,3,2,2,1,0,1,0,0,1,0,0,5,860.000000,2
37,7420000,7440,3,2,1,1,1,1,0,1,0,1,1,5,1488.000000,4
38,7420000,7440,3,2,4,1,0,0,0,0,1,1,0,5,1488.000000,1
39,7420000,6325,3,1,4,1,0,0,0,1,1,0,0,4,1581.250000,2
40,7350000,6000,4,2,4,1,1,0,0,1,1,0,2,6,1000.000000,3
41,7350000,5150,3,2,4,1,0,0,0,1,2,0,1,5,1030.000000,2
42,7350000,6000,3,2,2,1,1,0,0,1,1,0,1,5,1200.000000,3
43,7350000,6000,3,1,2,1,0,0,0,1,1,0,0,4,1500.000000,2
44,7245000,9000,4,2,4,1,1,0,0,1,1,1,2,6,1500.000000,3
45,7210000,7680,4,2,4,1,1,0,0,1,1,0,1,6,1280.000000,3
46,7210000,6000,3,2,4,1,1,0,0,1,1,0,2,5,1200.000000,3
47,7140000,6000,3,2,2,1,1,0,0,0,1,0,1,5,1200.000000,2
48,7070000,8880,2,1,1,1,0,0,0,1,1,0,1,3,2960.000000,2
49,7070000,6240,4,2,2,1,0,0,0,1,1,0,2,6,1040.000000,2

In [90]:
df.shape

In [91]:
df.info

In [92]:
df.columns

In [93]:
df.dtypes

In [94]:
df.isnull().sum()

In [95]:
# Encoding boolean values from string to int (1 for yes, 0 for no)
df[['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea']] = df[['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea']].replace({'yes': 1, 'no': 0}).astype(int)

In [96]:
# Encoding furnishing status from string to int (0 for unfurnished, 1 for semi-furnished, 2 for furnished)
df["furnishingstatus"].replace({"unfurnished": 0, "semi-furnished": 1, "furnished": 2}, inplace=True)

In [97]:
df.head(5)

In [98]:
df.dtypes

Feature Engineering:

In [99]:
# Feature: Total Number of Rooms
df['total_rooms'] = df['bedrooms'] + df['bathrooms']

# Feature: Area per room
df['area_per_room'] = df['area'] / df['total_rooms']

# Feature: Number of Amenities
amenities = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning']
df['amenity_count'] = df[amenities].sum(axis=1)

In [106]:
from scipy import stats

# We will use z-score to find and remove outliers
z_scores = stats.zscore(df[['price', 'area']])
abs_z_scores = abs(z_scores)
outliers = (abs_z_scores > 2.5).any(axis=1)
outlier_data = df[outliers]

print(f"Outliers based on Z-scores:\n{outlier_data}")
print("Number of Outliers:", len(df[outliers].index))

In [107]:
# We will drop the 13 outliers from the dataset
df= df.drop(df.index[outliers])

Checking Correlation between features

In [108]:
corr = df.corr()
plt.figure(figsize=(20, 20))
sns.heatmap(corr, annot=True)

In [109]:
corr_target = abs(corr["price"])
correlated_features = corr_target[corr_target>0.2]

names = [index for index, value in correlated_features.items()]

names.remove("price")

print(names)

In [8]:
df.dtypes

price                 int64
area                  int64
bedrooms              int64
bathrooms             int64
stories               int64
mainroad              int64
guestroom             int64
basement              int64
hotwaterheating       int64
airconditioning       int64
parking               int64
prefarea              int64
furnishingstatus      int64
total_rooms           int64
area_per_room       float64
amenity_count         int64
dtype: object